<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>


    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>

    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <title></title>
    <link rel="stylesheet" href="/assets/topBanner.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/assets/home.css">
  </head>
  <body>
    <section  class="download">
      <span class="glyphicon glyphicon-circle-arrow-down"></span>
    </section>
    <section class="overLays">
      <div class="glyphicon glyphicon-dashboard"> </div>
    </section>
    <section class="homeBanner" style="position:fixed; z-index: 1000">

      <div id="homeTextAlign">

        <a class=" homeaTag" href="/">Home</a>
      </div>
    </section>
    <section class="search">
      <div class="glyphicon glyphicon-search"> </div>
    </section>
    <section class="files">
      <span class="glyphicon glyphicon-settings"></span>
    </section>
    <section style="padding-top:8vh;">
      <div class="jumbotron labelInfo infoLabelClass">

        <div class="container">

          <span class="clickHere">
            <span class="glyphicon glyphicon-chevron-left "></span>

          </span>
          <span class="whenSmallInfo">
            <h2 class="irrelevantText">Algae Bloom Predictamator</h2>
            <p class="irrelevantText">The Algae Bloom Predictamator is a privately-funded and developed algorithm to predict Blue-Green Algae blooms in the Indian River Lagoon. </p> <p class="irrelevantText"> This program uses data from the Harbor Branch Oceanagraphic Institute's LOBO network which is a public database of water conditions in the lagoon.</p> <p class="irrelevantText">Click On Any Site To Interact With The Site (View Data/Search/Etc) For More Information About This Computer Program, <span class="clickHere">Click Here</span> </p>

          </span>
        </div>

        <section class="container expandedLabelInfo">
          <div class="goBack">
            <span id="hello" class="glyphicon glyphicon-chevron-right "></span>
          </div>

          <h2>Algae Bloom Predictamator <small>How It Works</small> </h2>
          <p>The Algae Bloom Predictamator has the ability to predict blue-green algae blooms in the Indian River Lagoon and St. Lucie Estuary 4 to 7 days before the bloom occurs. As blue-green algae blooms will cause $4 billion in damages to Indian River County over the next decade and blue-green algae blooms can have devastating effects on the health of the Indian River Lagoon.</p>
          <p>Privately collected data includes the nitrate, saline, and temperature levels at which are needed for an algae bloom to occur. This data was collected from 2015 through 2017 in a Science Fair setting. Publicly available data includes the current and past nitrate, saline, and temperature levels in the Indian River Lagoon. This data has been collected since 2014 through Harbor Branch Oceanographic Institute’s LOBO Network. </p>
          <p>This computer program compares current and past levels in the lagoon to the required nitrate, saline, and temperature conditions needed for an algae bloom. Accounting for the synergistic relationship between nitrate and saline (discovered in 2016/2017)  and the relationship temperature has, a NitrateSalineScore and a TemperatureScore is created. </p>
          <p> The NitrateSaline score runs from 0.525 to 10.5 and the TemperatureScore runs from 3.5 to 8.75. An algae bloom’s optimal conditions are a NitrateSaline score of 6.85 and a TemperatureScore of 7.15. The computer program also looks at the Nitrate and Saline trend (slope) and the temperatures trend (slope) to determine if an algae bloom is possible.</p>
          <p>Overall, this program is able to predict Blue-Green Algae Blooms in the IRL and SLE preventing billions of dollars in damages to the Indian River Lagoon. Between June and August of 2018, 28 algae blooms were reported by local Vero Beach newspapers. At a 93% success rate, the computer prorgam predicted 26 out of the 28 algae blooms 4 to 7 days in advance.</p>
          <br>
          <h2>LOBO Network<small>  How It Works</small> </h2>

          <div class="media">
            <div class="media-left media-top">

                <img class="media-object lobo1" src="/pics/lobo1.jpg" alt="...">

            </div>
            <div class="media-body">
              <p> Produced by SeaBird Scientific, the Land/Ocean Biogeochemical Observatory (LOBO) device and deployed by Harbor Branch Oceanographic Institute, the LOBO network analyzes a variety of variables at 10 different sites. Variables measured by LOBOs include: nitrate, salinity, temperature, chlorophyll, conductivity, turbidity, depth, phosphate concentration, and many other variables. LOBOs are floating platforms in the Indian River Lagoon and connecting bodies of water that record water measurements at the beginning of every hour </p>
                <p>According to the Harbor Branch website, "The LOBO comes complete with floating platform, power and wireless telemetry system, integrated sensor suite, automated processing software and web based data visualization and display software". The LOBOs are predominantly noted for being used in the Indian River Lagoon but the LOBO network also has units in the St. Lucie Estuary where the algae blooms have been catastrophic due to large adjacent populations. </p>
                <p>The LOBO contains physical sensors (i.e. salinity), chemical sensors (i.e.chromophoric dissolved organic matter or nitrate), and biological sensors (i.e. chlorophyll). The combination of sensors allow for the LOBOs to be versatile in varying conditions in the Indian River Lagoon and St. Lucie Estuary </p>
            </div>
          </div>

          <br> <br> <br>
        </section>
      </div>
    </section>
    <div id="map" class="map mapWidth80"></div>









    <head>
    <script src="https://cdn.apple-mapkit.com/mk/5.x.x/mapkit.js"></script>
    <style>

    a:link, a:visited {
        color: #2aaef5;
        outline: none;
        text-decoration: none;
    }

    .landmark {
        width: 250px;
        padding: 7px 0 0 0;
        background: rgba(247, 247, 247, 0.9);
        border-radius: 5px;
        box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.29);
        font-family: Helvetica, Arial, sans-serif;
        -webkit-transform-origin: 0 10px;
        transform-origin: 0 10px;
    }

    .landmark h1 {
        margin-top: 0;
        padding: 5px 15px;
        background: #2aaef5;
        color: rgba(255, 255, 255, 0.9);
        font-weight: 300;
    }

    .landmark section {
        padding: 0 15px 5px;
    }

    .landmark h1 {
      font-size: 2.5vh;
    }

    .landmark section p {
        margin: 5px 0;
    }

    .landmark:after {
        content: "";
        position: absolute;
        top: 7px;
        left: -13px;
        width: 0;
        height: 0;
        margin-bottom: -13px;
        border-right: 13px solid #2aaef5;
        border-top: 13px solid rgba(0, 0, 0, 0);
        border-bottom: 13px solid rgba(0, 0, 0, 0);
    }

    @-webkit-keyframes scale-and-fadein {
        0% {
            -webkit-transform: scale(0.2);
            opacity: 0;
        }

        100% {
            -webkit-transform: scale(1);
            opacity: 1;
        }
    }

    @keyframes scale-and-fadein {
        0% {
            transform: scale(0.2);
            opacity: 0;
        }

        100% {
            transform: scale(1);
            opacity: 1;
        }
    }
    </style>
    </head>



    <body>

    <script>
    mapkit.init({
        authorizationCallback: function(done) {
            done('eyJhbGciOiJFUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6IjhQTTJVTjc2V0MifQ.eyJpc3MiOiJCOUo1V0tSNlhBIiwiaWF0IjoxNTQyNzQ5OTc4LCJleHAiOjYxNTQyNzQ5OTc4fQ.6LXmaFeExklrLPCm-Q4j7jwUVs3peVp_X9bT0QnPQs4DiHY0q_3WaigziU43LoUyfvd6ZnS4cX_ikQfotg7vNQ');
        }
    });

    var sanFranciscoLandmarks = [
        { coordinate: new mapkit.Coordinate(27.53500000, -80.34217888888889), title: "IRL-LP",url: "/lpdata", website: "/search"},
        { coordinate: new mapkit.Coordinate(27.475569444444442, -80.3266), title: "IRL-FP", url: "/fpdata",  website: "/searchForSiteFP", newData: "/fp", create: "/createFP", delete:"/deleteFP"},
        { coordinate: new mapkit.Coordinate(27.18815, -80.261425), title: "SFE-SF", url: "/sfdata",  website: "/searchForSiteSF", newData: "/sf", create: "/createSF", delete:"/deleteSF"},
        { coordinate: new mapkit.Coordinate(27.839125, -80.47081944444444), title: "IRL-SB", url: "/sbdata",  website: "/searchForSiteSB", newData: "/sb", create: "/createSB", delete:"/deleteSB"},
        { coordinate: new mapkit.Coordinate(27.21002222222222, -80.269175), title: "SLE-NF", url: "/nfdata",  website: "/searchForSiteNF", newData: "/nf", create: "/createNF", delete:"/deleteNF"},
        { coordinate: new mapkit.Coordinate(27.164975, -80.17184722222223), title: "IRL-SLE", url: "/sledata",  website: "/searchForSiteSLE", newData: "/sle", create: "/createSLE", delete:"/deleteSLE"},
        { coordinate: new mapkit.Coordinate(27.590141666666664, -80.35523888888888), title: "IRL-VB", url: "/vbdata",  website: "/searchForSiteVB", newData: "/vb", create: "/createVB", delete:"/deleteVB"},
        { coordinate: new mapkit.Coordinate(27.208949999999998, -80.24796944444445), title: "SLE-ME", url: "/medata",  website: "/searchForSiteME ", newData: "/me", create: "/createME", delete:"/deleteME"},
        { coordinate: new mapkit.Coordinate(27.224413888888886, -80.20233888888889), title: "IRL-JB", url: "/jbdata",  website: "/searchForSiteJB ", newData: "/jb", create: "/createJB", delete:"/deleteJB"},
        { coordinate: new mapkit.Coordinate(27.114194444444447, -80.28286111111112), title: "SLE-SF2", url: "/sf2data",  website: "/searchForSiteSF2 ", newData: "/sf2", create: "/createSF2", delete:"/deleteSF2"},

    ];

    // Landmark annotation callout delegate
    var CALLOUT_OFFSET = new DOMPoint(-148, -80);
    var landmarkAnnotationCallout = {
        calloutElementForAnnotation: function(annotation) {
            return calloutForLandmarkAnnotation(annotation);
        },

        calloutAnchorOffsetForAnnotation: function(annotation, element) {
            return CALLOUT_OFFSET;
        },

        calloutAppearanceAnimationForAnnotation: function(annotation) {
            return "scale-and-fadein .4s 0 1 normal cubic-bezier(0.4, 0, 0, 1.5)";
        }
    };

    // Landmarks annotations
    var annotations = sanFranciscoLandmarks.map(function(landmark) {
        var annotation = new mapkit.MarkerAnnotation(landmark.coordinate, {
            callout: landmarkAnnotationCallout,
            color: "#33cc33" //c969e0
        });
        annotation.landmark = landmark;
        return annotation;
    });

    var map = new mapkit.Map("map");
    map.mapType = "hybrid"

    map.showItems(annotations);

    // Landmark annotation custom callout
    function calloutForLandmarkAnnotation(annotation) {
        var div = document.createElement("div");
        div.className = "landmark";

        var title = div.appendChild(document.createElement("h1"));
        title.textContent = annotation.landmark.title;

        var section = div.appendChild(document.createElement("section"));


        var phone = section.appendChild(document.createElement("p"));
        phone.className = "See Data";
        phone.textContent = annotation.landmark.phone;

        var link = section.appendChild(document.createElement("p"));
        link.className = "homepage";

        var a = link.appendChild(document.createElement("a"));
        a.href = annotation.landmark.url;
        a.textContent = "See Data";

        var linkA = a.appendChild(document.createElement("p"));
        link.className = "homepage";

        var a2 = linkA.appendChild(document.createElement("a"));
        a2.href = annotation.landmark.website;
        a2.textContent = "Search";

        // var linkA2 = a2.appendChild(document.createElement("p"));
        // link.className = "homepage";
        //
        // var a3 = linkA2.appendChild(document.createElement("a"));
        // a3.href = annotation.landmark.newData;
        // a3.textContent = "Analyze New Data";
        //
        // var linkA3 = a3.appendChild(document.createElement("p"));
        // link.className = "homepage";
        //
        // var a4 = linkA3.appendChild(document.createElement("a"));
        // a4.href = annotation.landmark.create;
        // a4.textContent = "Create Databases";
        //
        // var linkA4 = a4.appendChild(document.createElement("p"));
        // link.className = "homepage";
        //
        // var a5 = linkA4.appendChild(document.createElement("a"));
        // a5.href = annotation.landmark.delete;
        // a5.textContent = "Delete Databases";


        return div;
    }
    </script>
    </body>
    <script type="text/javascript" src="/assets/moreInfo.js">

    </script>

    <script type="text/javascript">

    </script>



  </body>






</html>
