<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>

    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <title></title>
    <link rel="stylesheet" href="/assets/topBanner.css">
  </head>
  <body>
    <section class="topBanner" style="position:relative; z-index: 1000">
      <div id="textAlign">
        <a class="aTag" href="/">Home</a>
      </div>
    </section>
    <section>
      <div id="labelInfo" class="jumbotron infoLabelClass">
        <div class="container">
          <h2>Algae Bloom Predictamator <small>How This Works</small> </h2>
          <span class="p">Hello</span>
        </div>





      </div>
    </section>
    <head>
    <script src="https://cdn.apple-mapkit.com/mk/5.x.x/mapkit.js"></script>
    <style>

    #map {
        height: 92vh;
        width:20vw;;
    }

    a:link, a:visited {
        color: #2aaef5;
        outline: none;
        text-decoration: none;
    }

    .landmark {
        width: 250px;
        padding: 7px 0 0 0;
        background: rgba(247, 247, 247, 0.9);
        border-radius: 5px;
        box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.29);
        font-family: Helvetica, Arial, sans-serif;
        -webkit-transform-origin: 0 10px;
        transform-origin: 0 10px;
    }

    .landmark h1 {
        margin-top: 0;
        padding: 5px 15px;
        background: #2aaef5;
        color: rgba(255, 255, 255, 0.9);
        font-size: 16px;
        font-weight: 300;
    }

    .landmark section {
        padding: 0 15px 5px;
        font-size: 14px;
    }

    .landmark section p {
        margin: 5px 0;
    }

    .landmark:after {
        content: "";
        position: absolute;
        top: 7px;
        left: -13px;
        width: 0;
        height: 0;
        margin-bottom: -13px;
        border-right: 13px solid #2aaef5;
        border-top: 13px solid rgba(0, 0, 0, 0);
        border-bottom: 13px solid rgba(0, 0, 0, 0);
    }

    @-webkit-keyframes scale-and-fadein {
        0% {
            -webkit-transform: scale(0.2);
            opacity: 0;
        }

        100% {
            -webkit-transform: scale(1);
            opacity: 1;
        }
    }

    @keyframes scale-and-fadein {
        0% {
            transform: scale(0.2);
            opacity: 0;
        }

        100% {
            transform: scale(1);
            opacity: 1;
        }
    }
    </style>
    </head>



    <body>

    <div id="map"></div>
    <script>
    mapkit.init({
        authorizationCallback: function(done) {
            done('eyJhbGciOiJFUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6IjhQTTJVTjc2V0MifQ.eyJpc3MiOiJCOUo1V0tSNlhBIiwiaWF0IjoxNTQyNzQ5OTc4LCJleHAiOjYxNTQyNzQ5OTc4fQ.6LXmaFeExklrLPCm-Q4j7jwUVs3peVp_X9bT0QnPQs4DiHY0q_3WaigziU43LoUyfvd6ZnS4cX_ikQfotg7vNQ');
        }
    });

    var sanFranciscoLandmarks = [
        { coordinate: new mapkit.Coordinate(27.53500000, -80.34217888888889), title: "IRL-LP",url: "/lpdata", website: "/search", newData: '/lp', create: "/createLP", delete: "/deleteLP"},
        { coordinate: new mapkit.Coordinate(27.475569444444442, -80.3266), title: "IRL-FP", url: "/fpdata",  website: "/searchForSiteFP", newData: "/fp", create: "/createFP", delete:"/deleteFP"}
    ];

    // Landmark annotation callout delegate
    var CALLOUT_OFFSET = new DOMPoint(-148, -162);
    var landmarkAnnotationCallout = {
        calloutElementForAnnotation: function(annotation) {
            return calloutForLandmarkAnnotation(annotation);
        },

        calloutAnchorOffsetForAnnotation: function(annotation, element) {
            return CALLOUT_OFFSET;
        },

        calloutAppearanceAnimationForAnnotation: function(annotation) {
            return "scale-and-fadein .4s 0 1 normal cubic-bezier(0.4, 0, 0, 1.5)";
        }
    };

    // Landmarks annotations
    var annotations = sanFranciscoLandmarks.map(function(landmark) {
        var annotation = new mapkit.MarkerAnnotation(landmark.coordinate, {
            callout: landmarkAnnotationCallout,
            color: "#33cc33" //c969e0
        });
        annotation.landmark = landmark;
        return annotation;
    });

    var map = new mapkit.Map("map");
    map.showItems(annotations);

    // Landmark annotation custom callout
    function calloutForLandmarkAnnotation(annotation) {
        var div = document.createElement("div");
        div.className = "landmark";

        var title = div.appendChild(document.createElement("h1"));
        title.textContent = annotation.landmark.title;

        var section = div.appendChild(document.createElement("section"));


        var phone = section.appendChild(document.createElement("p"));
        phone.className = "See Data";
        phone.textContent = annotation.landmark.phone;

        var link = section.appendChild(document.createElement("p"));
        link.className = "homepage";

        var a = link.appendChild(document.createElement("a"));
        a.href = annotation.landmark.url;
        a.textContent = "See Data";

        var linkA = a.appendChild(document.createElement("p"));
        link.className = "homepage";

        var a2 = linkA.appendChild(document.createElement("a"));
        a2.href = annotation.landmark.website;
        a2.textContent = "Search";

        var linkA2 = a2.appendChild(document.createElement("p"));
        link.className = "homepage";

        var a3 = linkA2.appendChild(document.createElement("a"));
        a3.href = annotation.landmark.newData;
        a3.textContent = "Analyze New Data";

        var linkA3 = a3.appendChild(document.createElement("p"));
        link.className = "homepage";

        var a4 = linkA3.appendChild(document.createElement("a"));
        a4.href = annotation.landmark.create;
        a4.textContent = "Create Databases";

        var linkA4 = a4.appendChild(document.createElement("p"));
        link.className = "homepage";

        var a5 = linkA4.appendChild(document.createElement("a"));
        a5.href = annotation.landmark.delete;
        a5.textContent = "Delete Databases";


        return div;
    }
    </script>
    </body>



  </body>






</html>
