.overMap {
  width:20vw;
  margin-left: 2vw;
  position: absolute;
  top: 10%;
  text-align: center;
  height:10vh;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 25px;
}

.overMapText {
  font-size: 2vh;
  padding:.5vw;
}

.glyphicon-question-sign {
  position: absolute;
  top: 10%;
  text-align: center;

}

.glyphicon-remove {
  float:right;
  margin-top:1vh;
  margin-right:1vw;
}

.overMap2 {
  width:30vw;
  margin-left: 1vw;
  position: absolute;
  top: 10%;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 25px;
}

.shiftedRight {
  padding-left:10%;
  width:25vw
}

.invisibleForm {
  display: none;
}

.weirdButton {
  margin:0;
  border:0;
  padding:0;
  background: none;
  text-decoration: none;
}
