.topBanner {
  background-color: black;
  padding: 2.5vh;
  color:white;
  position:fixed;
  width:100vw;
  z-index: 1000000000000;
}

.aTag {
  color:white;
  padding:2vw;
  font-size: 2vh;
}

.aTag:hover {
  color:red
}

#textAlign {
  text-align: center;
}
